/* Настройка общих элементов */
*{
    margin: 0;
    padding: 0;
}
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/
/*?     Header    */
/* .header{
    background-color: red;
} */


/* Контейнер header */
.headerContainer{
    display: flex;
    background-color: rgb(170, 191, 208);
    justify-content: space-between;
    transition-property: all;
    transition-duration: 2s;
}

/*! Секция 1 */
.section__theme{
    padding-top: 2.2vw;
    padding-left: 2vw;
}
/* Для изображения информации, тем общий их формат */
.themeHeader{
    user-select: none;
    width: 4vw;
    border-radius: 70%;
    transition: all 0.5s ease;
}
.themeHeader:active{
    transform: scale(0.9);
}
.moon{
    margin-left: 1vw;
    user-select: none;
    width: 4vw;
    /* border-radius: 40% 70% 40% 20%; */
    border-radius: 70%;
    transition-duration: 3s;
}
.moon:active{
    transform: scale(0.9);
    transition-property: all;
    transition-duration: 3s;
}
/*! Секция 2 */
.logo{
    user-select: none;
    pointer-events: none;
    border-radius: 30%;
    width: 8vw;
    background-color: rgb(170, 191, 208);
    transition-property: all;
    transition-duration: 2s;
}
/*! Секция 3 */
.section__Name{
    padding-top: 2.8vw;
}
.textHtwo{
    font-size: 2vw;
    transition-property: all;
    transition-duration: 2s;
    /* background-color: rgb(47, 48, 52); */
}

/*?     Конец   Header     */
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/
/*?   Main */

/*?     Конец   Main     */
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/
/*?   Footer */

/*?     Конец   Footer     */
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/
/*todo========================================================================*/